.background {
  viewport-fill: blue;
}

/* Shared positioning classes to ensure alignment */
.pos-hours {
  x: 50%;
  y: 64%;
  text-anchor: middle;
}

.pos-minutes {
  x: 50%;
  y: 89%;
  text-anchor: middle;
}

/* Main Time Text */
.time-text {
  font-family: "System-Regular";
  font-size: 100;
  fill: #cfe4ff;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linejoin: round;
}

/* Glow/Shadow Effect */
.glow-effect {
  font-family: "System-Regular";
  font-size: 100;
  stroke: #00d0ff;
  fill: #00d0ff;
  stroke-width: 12;
  opacity: 0.8;
  stroke-linejoin: round;
}

/* Stats Positioning */
.date-text {
  font-family: "System-Bold";
  font-size: 24;
  text-anchor: start;
  x: 8%;
  y: 12%;
  fill: #FFFFFF;
}

.weather {
  font-family: "System-Bold";
  font-size: 22;
  text-anchor: start;
  x: 8%;
  y: 22%;
  fill: #FFFFFF;
}

.heart {
  font-family: "System-Bold";
  font-size: 22;
  text-anchor: start;
  x: 8%;
  y: 32%;
  fill: #FFFFFF;
}

.steps {
  font-family: "System-Bold";
  font-size: 22;
  text-anchor: start;
  x: 8%;
  y: 42%;
  fill: #FFFFFF;
}

#clockShadow {
  /* Use explicit values (calc not supported in simulator) */
  x: 38%;
  y: 83%;
}

/* Background Plate */
.time-bg {
  x: 25%;
  y: 44%;
  width: 50%;
  height: 52%;
  fill: #000000;
  opacity: 0.4;
  rx: 15;
  ry: 15;
}

